* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica";
    font-size: 22px;
    color: seashell;
    
    opacity: 0.9;
    text-align: center;
}

h2
{
    font-size: 1.75rem;
}

body
{
    margin: auto;

    width: 1080px;
    background-color: black;
}

header 
{
opacity: 1;
}


nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: auto;
    position: fixed;
    border-bottom: 1px solid seashell;
    z-index: 2000;

   width: 1080px;
   padding: 0 10px;
   background-color: black;
   
   
}



nav img
{
    height: 50px;
}

nav ul
{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

main {
    position: relative;
    top: 100px;
}

#mission
{
    background-image: url("./img/img-mission-background.webp");
    background-position: center;
    background-repeat: no-repeat;

    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.missionStatement
{
    width: 1200px;
    padding: 30px;
   background-color: black;

}

.missionStatement h2
{
    margin-bottom: 20px;
}

#featuredTea
{
    width: 1000px;
    margin: 80px 0 100px;
   
}

#featuredTea h4
{
    margin: 35px 0;
}

.gallery
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}



#featuredTea img{
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

#locations
{
    height: 500px;
    background-image: url("./img/img-locations-background.webp");
    background-position: center;
    background-repeat: no-repeat;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.locations
{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 50%;
    width: 100%;
    gap: 40px;
}

h3{
    font-size: 1.2rem;
}

.locations .container
{
    width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;

    background-color: black; 
}

#contact
{

    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4
{
    font-size: 1.2rem;
}

h5
{
    font-size: .95rem;
}